.principal {
    color: white;
    margin: auto;
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(141, 27, 222)
}

.head {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px
}